input{
    padding: 5px;
    margin: 5px;
    width: 80%;
    border-radius: 10px;
}
form{
    padding: 5px;
    margin: 5px;
    width: 80%;
    border-radius: 10px; 
}
button{
    padding: 5px;
    margin: 5px;
    width: 40%;
    border-radius: 10px;
    background-color: aqua;
    font-weight: bold;
}
h4{
    margin: 5px;
    padding: 5px;
    background-color: lightcoral;
    color: white;
    border-radius: 10px;
    height: 3vh;
}